*
{
	margin:0;
}

body{
	background: #02010a;
	color: white;
	font-size: 16px;
	font-family: Dancing Script;
  font-size: 14pt;
}

#contenido{
	width: 900px;
	margin: 0 auto;
  min-height: 200px;
	animation-name: slidein;
	animation-duration: 5s;
	}

	@keyframes slidein{
	0% {
		position: relative;
		margin-top: 150%;
	}
	60% {
		position: relative;
		margin-top: -5%;
	}
	100% {
		position: relative;
		margin-top: 0%;
	}
	}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

#titulo{
  width: 70%;
  text-indent: 15px;
}

#menu{
  width: 30%;
  font-size: 18pt;
  padding-top: 10px;
}

#menu a, #menu a:hover{
  color: white;
  padding: 5px 10px;
	text-decoration: none;
}

#menu a + a::before {
  color: white;
  text-decoration: none;
}
#menu .actual{
  text-decoration: none;
}

section{
	background: #d5c75f;
}

#galeria,#galeria2{
	display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

section img{
	width: 100%;
	box-shadow: 2px 2px #02010a;
	height: 170px;
}

.imagenes,.imagenes2{
  width: 33.3%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 20px;
}

.img1{
  -webkit-filter: blur(10px);
	filter: blur(10px);
}
.img2{
  -webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	border: 10px yellow:
}
.img3{
  -webkit-filter:sepia(90%);
	filter:sepia(90%);
}
.img4{
  -webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}
.img6{
  -webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}

footer{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 10px 10px;
  color: black;
  border-radius: 0 0 10px 10px;
}

footer .informacion{
  width: 25%;
  box-sizing: border-box;
  padding: 1%;
}

.icon{
  width: 20px;
}

@media screen and (max-width: 900px) and (min-width: 600px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	#menu, #titulo{
		width: 100%;
		text-align: center;
	}
  .imagenes{
    width: 100%;
		margin: 0 auto;
  }
	.imagenes2{
		width: 100%;
		margin: 0 auto;
	}
  footer .informacion{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	#menu, #titulo{
		width: 100%;
		text-align: center;
	}
	.imagenes{
		width: 100%;
	}
	.imagenes2{
		width: 100%;
	}
	footer .informacion{
		width: 100%;
	}
}
